/*font-family*/
/*font sizes*/
/* spacer */
/*colors*/
/* media query
-----------------------------------------------------------*/
body {
  direction: rtl;
  margin: 0;
}

ul,
li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

table {
  border-collapse: collapse;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: IRANSans_EnNum;
  font-style: normal;
  font-weight: 600;
  src: url("../../Assets/Fonts/IranSans/eot/IRANSansWeb_Bold.eot");
  src: url("../../Assets/Fonts/IranSans/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/IranSans/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../../Assets/Fonts/IranSans/woff/IRANSansWeb_Bold.woff") format("woff"), url("../../Assets/Fonts/IranSans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: IRANSans_EnNum;
  font-style: normal;
  font-weight: 400;
  src: url("../../Assets/Fonts/IranSans/eot/IRANSansWeb.eot");
  src: url("../../Assets/Fonts/IranSans/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/IranSans/woff2/IRANSansWeb.woff2") format("woff2"), url("../../Assets/Fonts/IranSans/woff/IRANSansWeb.woff") format("woff"), url("../../Assets/Fonts/IranSans/ttf/IRANSansWeb.ttf") format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: IRANSans_FaNum;
  font-style: normal;
  font-weight: 600;
  src: url("../../Assets/Fonts/IranSans/faNum/eot/IRANSansWeb_FaNum_Bold.eot");
  src: url("../../Assets/Fonts/IranSans/faNum/eot/IRANSansWeb_FaNum_Bold.eot") format("embedded-opentype"), url("../../Assets/Fonts/IranSans/faNum/woff2/IRANSansWeb_FaNum_Bold.woff2") format("woff2"), url("../../Assets/Fonts/IranSans/faNum/woff/IRANSansWeb_FaNum_Bold.woff") format("woff"), url("../../Assets/Fonts/IranSans/faNum/ttf/IRANSans_FaNum_Bold.ttf") format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: IRANSans_FaNum;
  font-style: normal;
  font-weight: 400;
  src: url("../../Assets/Fonts/IranSans/faNum/eot/IRANSansWeb_FaNum.eot");
  src: url("../../Assets/Fonts/IranSans/faNum/eot/IRANSansWeb_FaNum.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/IranSans/faNum/woff2/IRANSansWeb_FaNum.woff2") format("woff2"), url("../../Assets/Fonts/IranSans/faNum/woff/IRANSansWeb_FaNum.woff") format("woff"), url("../../Assets/Fonts/IranSans/faNum/ttf/IRANSans_FaNum_Bold.ttf") format("truetype");
  font-display: fallback;
}
/*font-family*/
/*font sizes*/
/* spacer */
/*colors*/
/* media query
-----------------------------------------------------------*/
.card {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}
@media (min-width: 768px) {
  .card.card--large .card__details {
    margin-bottom: 48px;
    padding: 0 64px;
  }
}
@media (max-width: 767px) {
  .card.card--large .card__details {
    padding: 0 16px;
  }
}
.card.card--medium .card__details span {
  max-height: 43px;
  line-height: 1.5;
  padding: 0 16px;
  overflow: hidden;
  font-size: 14px;
  font-size: 0.875rem;
}
.card.card--text-on-image:after {
  content: "";
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, #262626 100%);
  background: -webkit-linear-gradient(top, transparent 0%, #262626 100%);
  background: linear-gradient(to bottom, transparent 0%, #262626 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="transparent", endColorstr="#262626",GradientType=0 );
}
.card .card__more-details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.card .card__more-details .movie-list__img {
  margin-bottom: 8px;
}
@media (min-width: 993px) {
  .card .card__more-details .movie-list__img {
    height: calc(100% - 40px);
  }
}
@media (max-width: 992px) {
  .card .card__more-details .movie-list__img {
    height: calc(100% - 60px);
  }
}
.card .card__more-details span {
  text-align: center;
  font-weight: 100;
  overflow: hidden;
}
.card .card__more-details span:first-of-type {
  font-size: 12px;
  font-size: 0.75rem;
  color: #8c8c8c;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.card .card__more-details span:last-of-type {
  margin-top: 4px;
  width: 100%;
  height: 50px;
  font-size: 13px;
  font-size: 0.8125rem;
}
.card h1 {
  font-size: 62px;
  font-size: 3.875rem;
}
@media (max-width: 767px) {
  .card h1 {
    font-size: 40px;
    font-size: 2.5rem;
  }
}
.card .card__details {
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 16px;
}
.card .card__details span {
  color: #e41f43;
}

html {
  font-size: 16px;
}

body {
  font-family: "IRANSans_EnNum";
  font-size: 16px !important;
  color: #fff;
  background-color: #171717;
  direction: ltr;
}

button,
select {
  font-family: "IRANSans_EnNum";
}

.container {
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
@media (min-width: 993px) {
  .container {
    width: 98%;
  }
}
@media (min-width: 1181px) {
  .container {
    width: 1230px;
  }
}

[class*=col-] {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  position: relative;
}

@media (max-width: 767px) {
  /*max-width:767*/
  .col-xs--12 {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }

  .col-xs--11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    width: 91.6666666667%;
  }

  .col-xs--10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    width: 83.3333333333%;
  }

  .col-xs--9 {
    flex-basis: 75%;
    max-width: 75%;
    width: 75%;
  }

  .col-xs--8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    width: 66.6666666667%;
  }

  .col-xs--7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    width: 58.3333333333%;
  }

  .col-xs--6 {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
  }

  .col-xs--5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    width: 41.6666666667%;
  }

  .col-xs--4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    width: 33.3333333333%;
  }

  .col-xs--3 {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;
  }

  .col-xs--2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    width: 16.6666666667%;
  }

  .col-xs--1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    width: 8.3333333333%;
  }
}
@media (min-width: 768px) {
  /*min-width:768*/
  .col-sm--12 {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }

  .col-sm--11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    width: 91.6666666667%;
  }

  .col-sm--10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    width: 83.3333333333%;
  }

  .col-sm--9 {
    flex-basis: 75%;
    max-width: 75%;
    width: 75%;
  }

  .col-sm--8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    width: 66.6666666667%;
  }

  .col-sm--7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    width: 58.3333333333%;
  }

  .col-sm--6 {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
  }

  .col-sm--5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    width: 41.6666666667%;
  }

  .col-sm--4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    width: 33.3333333333%;
  }

  .col-sm--3 {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;
  }

  .col-sm--2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    width: 16.6666666667%;
  }

  .col-sm--1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    width: 8.3333333333%;
  }
}
@media (min-width: 993px) {
  /*min-width:992px*/
  .col-md--12 {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }

  .col-md--11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    width: 91.6666666667%;
  }

  .col-md--10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    width: 83.3333333333%;
  }

  .col-md--9 {
    flex-basis: 75%;
    max-width: 75%;
    width: 75%;
  }

  .col-md--8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    width: 66.6666666667%;
  }

  .col-md--7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    width: 58.3333333333%;
  }

  .col-md--6 {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
  }

  .col-md--5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    width: 41.6666666667%;
  }

  .col-md--4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    width: 33.3333333333%;
  }

  .col-md--3 {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;
  }

  .col-md--2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    width: 16.6666666667%;
  }

  .col-md--1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    width: 8.3333333333%;
  }
}
@media (min-width: 1181px) {
  /*min-width:1321px*/
  .col-lg--12 {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }

  .col-lg--11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    width: 91.6666666667%;
  }

  .col-lg--10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    width: 83.3333333333%;
  }

  .col-lg--9 {
    flex-basis: 75%;
    max-width: 75%;
    width: 75%;
  }

  .col-lg--8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    width: 66.6666666667%;
  }

  .col-lg--7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    width: 58.3333333333%;
  }

  .col-lg--6 {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
  }

  .col-lg--5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    width: 41.6666666667%;
  }

  .col-lg--4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    width: 33.3333333333%;
  }

  .col-lg--3 {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;
  }

  .col-lg--2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    width: 16.6666666667%;
  }

  .col-lg--1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    width: 8.3333333333%;
  }
}
.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

a {
  color: #fff;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin: 0 0 24px;
}
@media (max-width: 992px) {
  h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    margin-bottom: 16px;
  }
}

h1,
.h1 {
  font-size: 31px;
  font-size: 1.9375rem;
}

h2,
.h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 20px;
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 15px;
  font-size: 0.9375rem;
}

h5,
.h5 {
  font-size: 12px;
  font-size: 0.75rem;
}

.no-scroll {
  overflow: hidden;
}

.hidden,
.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.dis-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.text-center {
  text-align: center;
}

.dir-ltr {
  direction: ltr;
}

.dir-rtl {
  direction: rtl;
}

@media (min-width: 993px) {
  .hide-in-desktop {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hide-in-phone {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-in-not-phone {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .hide-in-not-desktop {
    display: none !important;
  }
}

.main-container {
  min-height: 400px;
}
@media (max-width: 992px) {
  .main-container {
    min-height: 150px;
  }
}

.bold {
  font-weight: bold;
}

.w-100 {
  width: 100% !important;
}

.text-red {
  color: #e41f43;
}

.mt--3 {
  margin-top: 24px;
}

.pagination {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  direction: ltr;
}
.pagination li {
  margin: 0 4px;
}
.pagination button {
  border: none;
  background-color: #303030;
  height: 32px;
  cursor: pointer;
}
.pagination button.pagination__page-number {
  min-width: 32px;
}
.pagination button.active {
  background-color: #2a2a2a;
}
.pagination .pagination__arrow {
  position: relative;
}
.pagination .pagination__arrow:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 10px;
  font-size: 0.625rem;
}
.pagination .pagination__arrow.pagination__arrow--next {
  padding-right: 20px;
}
.pagination .pagination__arrow.pagination__arrow--next:after {
  content: ">>";
  right: 5px;
}
.pagination .pagination__arrow.pagination__arrow--previous {
  padding-left: 20px;
}
.pagination .pagination__arrow.pagination__arrow--previous:after {
  content: "<<";
  left: 5px;
}

.header {
  background-color: #333;
}
.header .header__top-header {
  height: 76px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 0 30px;
}
.header .header__search-box {
  height: 32px;
  width: 366px;
  background-color: #202020;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.header .header__search-box .header__search-input {
  border: none;
  background-color: transparent;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  color: #fff;
  padding: 0 8px;
}
.header .header__search-box .header__btn-search {
  border: none;
  height: 100%;
  width: 30px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 20px;
  background-position: center;
}
.header .header__top-header-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.header .header__top-header-nav li {
  padding-right: 8px;
  font-size: 14px;
  font-size: 0.875rem;
  cursor: pointer;
}
.header .header__main {
  padding: 0 28px;
  min-height: 86px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #353535;
  background: -moz-linear-gradient(top, #353535 0%, #262626 100%);
  background: -webkit-linear-gradient(top, #353535 0%, #262626 100%);
  background: linear-gradient(to bottom, #353535 0%, #262626 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#353535", endColorstr="#262626",GradientType=0 );
}
@media (min-width: 993px) {
  .header .header__main {
    height: 86px;
  }
}
.header .header__nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  overflow: auto;
}
.header .header__nav li {
  border-right: 1px solid #171717;
}
.header .header__nav li:first-child {
  border-left: 1px solid #171717;
}
.header .header__nav li a {
  padding: 0 16px;
  font-family: Righteous;
  font-size: 18px;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.header .header__nav li a.active, .header .header__nav li a:hover {
  background: #262626;
  background: -moz-linear-gradient(top, #262626 0%, #353535 100%);
  background: -webkit-linear-gradient(top, #262626 0%, #353535 100%);
  background: linear-gradient(to bottom, #262626 0%, #353535 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#262626", endColorstr="#353535",GradientType=0 );
  color: red;
}
.header .header__logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  font-family: Righteous;
}
.header .header__logo span {
  font-size: 26px;
  font-size: 1.625rem;
}
.header .header__logo label {
  font-size: 14px;
  font-size: 0.875rem;
  height: 18px;
  background-color: #e41f43;
  color: #171717;
  padding: 0 4px;
  margin-left: 8px;
}

.footer {
  padding: 16px 0;
  color: #8c8c8c;
  text-align: left;
  font-size: 14px;
  font-size: 0.875rem;
}

/*# sourceMappingURL=public.css.map */
